@use "foundation/variables" as *;

.p-contact-form {
  & {
    margin: 12rem 0;

    @media (max-width: 767px) {
      margin: 8rem 0;
    }

    &__inner {
      width: 118rem;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0 2rem;
      }
    }

    &__txt {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 180%;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &__bg {
      background-color: $color-gray;
      border-radius: .8rem;
      margin-top: 3.4rem;
      padding: 5rem 18.6rem 7rem;

      @media (max-width: 767px) {
        margin-top: 2.4rem;
        padding: 2.4rem 1.6rem;
      }
    }

    &__ttl {
      font-size: 4rem;
      font-family: 700;
      line-height: 180%;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 2.4rem;
      }
    }

    &__form {
      margin-top: 2.8rem;

      @media (max-width: 767px) {
        margin-top: 2.4rem;
      }
    }

    &__formblk {
      &:not(:first-child) {
        margin-top: 4rem;

        @media (max-width: 767px) {
          margin-top: 3.2rem;
        }
      }
    }

    &__label {
      font-size: 2rem;
      font-weight: 700;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.8rem;

      @media (max-width: 767px) {
        font-size: 1.6rem;
        gap: .8rem;
      }
    }

    &__required {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 100%;
      padding: .4rem 1.2rem .5rem;
      background-color: #D04042;
      border-radius: .4rem;

      @media (max-width: 767px) {
        font-size: 1.2rem;
        padding: .4rem .8rem .5rem;
      }
    }

    &__inputarea {
      margin-top: 2rem;

      @media (max-width: 767px) {
        margin-top: 1.2rem;
      }

      input {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 100%;
        box-sizing: border-box;
        width: 100%;
        height: 4.2rem;
        border: unset;
        border-radius: .2rem;
        padding: 0 1.6rem;

        @media (max-width: 767px) {
          font-size: 1.4rem;
          padding: 0 .6rem;
        }
      }

      textarea {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 100%;
        box-sizing: border-box;
        width: 100%;
        border: unset;
        border-radius: .2rem;
        padding: 1.6rem;

        @media (max-width: 767px) {
          font-size: 1.4rem;
          padding: 1.2rem;
        }
      }

      &--checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4rem;

        @media (max-width: 767px) {
          gap: 2.4rem;
        }

        .mwform-checkbox-field {
          label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .8rem;

            @media (max-width: 767px) {
              gap: .4rem;
            }
          }

          input {
            width: auto;
            height: auto;
            margin: unset;

            &[type="checkbox"] {
              accent-color: $color-green;
            }
          }
        }
      }
    }

    &__chklabel {
      line-height: 100%;
    }

    &__btn-wrap {
      width: fit-content;
      margin: 5.6rem auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      position: relative;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 4rem;
        flex-direction: column;
      }

      &::after {
        content: "";
        width: 1.9rem;
        height: 1.2rem;
        background-image: url(../img/contact/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 1.4rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__btn {
      color: $color-white;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 100%;
      width: 32rem;
      height: 7rem;
      background-color: $color-green;
      border: unset;
      border-radius: 100vmax;
      position: relative;
      transition: all .5s;
      cursor: pointer;

      @media (max-width: 767px) {
        font-size: 1.8rem;
        width: 100%;
        height: 6.4rem;
      }

      &--back {
        background-color: $color-black;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}

.mw_wp_form_complete {
  @media (max-width: 767px) {
    padding: 0 2rem;
  }
}