@use "foundation/variables" as *;

.c-breadcrumb {
  & {
    margin-top: 8rem;

    @media (max-width: 767px) {
      margin-top: 5.6rem;
    } 

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0 5rem;

      @media (max-width: 767px) {
        gap: 0 4rem;
      }
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        &::after {
          content: "";
          width: .8rem;
          height: 1.6rem;
          background-image: url("../img/common/icon_breadcrumb-arrow.svg");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: -3rem;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);

          @media (max-width: 767px) {
            width: .7rem;
            height: 1.2rem;
            right: -2.4rem;
          }
        }
      }
    }

    &__link {
      color: $color-base;
      font-weight: 700;
      line-height: 100%;

      @media (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    span.c-breadcrumb__link {
      opacity: .5;
    }
  }
}