@use "foundation/variables" as *;

.c-breadcrumb {
  & {
    margin-top: 8rem;

    @media (max-width: 767px) {
      margin-top: 5.6rem;
    } 

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0 8.6rem;

      @media (max-width: 767px) {
        gap: 0 4.4rem;
      }
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        &::after {
          content: "";
          width: 4rem;
          height: 1px;
          background-color: $color-base;
          position: absolute;
          top: 50%;
          right: -6.4rem;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);

          @media (max-width: 767px) {
            width: 2.4rem;
            right: -3.4rem;
          }
        }
      }
    }

    &__link {
      color: $color-base;
      font-weight: 700;
      line-height: 100%;

      @media (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    span.c-breadcrumb__link {
      opacity: .5;
    }
  }
}