@use "foundation/variables" as *;

.c-sec-ttl {
  & {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: .05em;

    @media (max-width: 767px) {
      font-size: 3.2rem;
    }
  }
}