@use "foundation/variables" as *;

.c-under-fv {
  & {
    width: 100%;
    height: 72.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 767px) {
      height: 40rem;
      background-position: center;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: .25);
      position: absolute;
      top: 0;
      left: 0;
    }

    // &--exterior {
    //   background-image: url(../img/exterior/fv/fv.jpg);
    // }

    // &--interior {
    //   background-image: url(../img/interior/fv/fv.jpg);
    // }

    // &--about {
    //   background-image: url(../img/about/fv/fv.jpg);
    // }

    // &--news {
    //   background-image: url(../img/news/fv/fv.jpg);
    // }

    // &--privacy {
    //   background-image: url(../img/privacy/fv/fv.jpg);
    // }

    // &--contact {
    //   background-image: url(../img/contact/fv/fv.jpg);
    // }
  }
}